html, body {
    margin: 0;
    height: 100%;
    background: black;
    
}

#terminal {
    display: grid;
    grid-template-columns: repeat(80, 1ch);
    grid-template-rows: repeat(24, 1.2em);

    font-family: "Cascadia Mono", "Consolas", monospace;
    font-size: 16px;
    line-height: 1.2em;
}

#terminal span {
    display: flex;
    align-items: center;
    justify-content: center;
}